$orange         : #BD3613;
$blue           : #2176C7;
$headBackGround      : #FFFFFD;
$foodBackGround      : #FEFFF1;
$playBackGround      : #F5F5F5;
$lollipopBackGround  : #FEFFF1;

$startWord      : #3A5FCD;


$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;